

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   font-style: normal;
  }
  /* *{
    margin: 0;
    padding: 0;
  } */
  .font{
    font-family: 'Miama';
    font-size:70px;
                                                  
  }
  
  body{
    background-color: black;
  }
  .img{
    background-image: linear-gradient(#777777 ,#111111 );
  }
  
  /* text prymre */
   .text-color{
    color: #E6533C;
   }
   /* color 1 */
    .color-1{
     color: #FFFFFF;

    }
    /* color 2 */
    .color-2{
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
    }
  
    .butten{
       background-color: #E6533C;
       color: #FFFFFF;
       padding: 8px 16px;
       border-radius: 45px;
       border: none;
      
    }
    .top{
        position: relative;
        top: -50px;
    }
    .btn{
  
      background-color:rgba(0, 0, 0, 0.041);
      color: #FFFFFF;
      padding: 8px 16px;
      border-radius: 45px;
      border: 0.5px solid  rgba(255, 255, 255, 0.5);
     
    }
  
  /* nav styles */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 200px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 40px;
  
  }
  nav li{
    list-style: none;
    margin-right: 50px;
    
    
  }
  
  nav li a{
    text-decoration: none;
    font-size: 20px;
  }
  .flx{
    display: flex;
    align-items: center;
  }
  .banner{
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    margin: 30px 200px;
  }
  .h3{
    font-size: 70px;
  }
  .br{
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 0 30px;
    position: relative;
    left: 330px;
    top: -100px;
    text-align: left;
    
  
  }
  .br-1{
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 0 20px;
    position: relative;
    left: 450px;
    top: -400px;
    text-align: left;
  }
  .fs{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5) ;
  }





  /* part-2 */
  

  .text-center{
    text-align: center;
  }
  .clr{
    color: #FFFFFF;
  }
  .section-titel{
    font-size: 48px;
    font-weight: 400;
  }
  .section-description{
    position: relative;
    top: -15px;
}
  .skills{
    margin-left: 198px;
    margin-right: 198px;
  }
  /* skills section */
  .skills-container{
    /* display: grid;
    grid-template-rows: repeat(4); */
    display: flex;
    text-align: center;
    gap: 65px;
    margin-top: 40px;
  }
  
  .rdns{
    border:1px solid #777777;
    border-radius: 50%;
  }
  .about{
    font-size: 48px;
    font-weight: 400;
  }
  .banner-2{
    background-color: #222222;
    display: flex;
    border-radius: 18px;
    justify-content: space-between;
    padding: 30px;
    margin-top: 20px;
  }
  .margin{
    margin-left: 40px;
  }
  .zoom{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 18px;
    margin-top: 20px;
    margin-right: 40px; 
  }
  .wth{
    margin-left: 190px;
    margin-right: 190px;
  }
  .top-1{
    margin-top: 30px;
  }
  .one{
    width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: 100% center;
    
    

  }
  .two{
    width: 418px;
    height: 200px;
    object-fit: cover;
    object-position: 100% center;
    
    

  }
  .three{
    width: 290px;
    height: 200px;
    object-fit: cover;
    object-position: 100% center;
  }
  .row{

    height: 200px;
    display: flex;
  }
  #flx{
    display: flex;
  }
  .a{
    margin-top: -270px;
    margin-left: 30px;
    font-size: 14px;
  }
  .b{
    margin-top: -350px;
    margin-left: 170px;
    font-size: 14px;
  }
  .d{
    margin-top: -70px;
    margin-right: 100px;
    font-size: 14px;
  }
  .e{
    margin-top: -270px;
    margin-right: -100px;
    font-size: 14px;
  }
  .c{
    margin-top: -150px;
    margin-left: -130px;
    font-size: 14px;
  }
  .f{
    margin-top: -70px;
    margin-left: -20px;
    font-size: 14px;
  }
  /* part 3 */
  .mgn{
    margin-left: 350px;
  }
  .box-3{
    background-color: #222222;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
  }
  .box{
    display: grid;
    grid-template-columns: 150px 150px;
   
  }
  .item{
    border: 0.5px solid #ffffff17;
    padding: 10px;
    

  }
  .mgn-1{
    margin-left: 190px;
  }
  .mgn-2{
    margin-right: 190px;
  }
  .gap-1{
    margin-top: 10px;
  }

  .form{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff11;
    

  }
  .form-2{
    width: 302px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff11;
    
  }
  .form-1{
    width: 612px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff11;

  } 
  /* part 4 */





     .mgn-3{
      /* margin-left: 190px;
      margin-right: 190px; */
      width: 1060px;
      margin: 20px 190px;
      
     }
     .clr-2{
      background-color:#ffffff10;
      border-radius: 18px;
     }

  .all{
    width: 325px;
    height: 270px;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 18px;
    gap: 30px;
    
    padding: 10px;
  }
  .img-1{
    margin-left: 50px;
   margin-top: -800px;
   
  }
  .img-2{
    margin-left: 100px;
    margin-top: -800px;
  }
  .img-3{ 
    margin-left: 100px;
    margin-top: -800px;
  }
  .img-4{ 
    margin-right: 0px;
    margin-top: -150px;
  }
  .img-5{
    margin-right:0px;
    margin-top: -150px;
  }
  .img-6{
    margin-right: 0px;
    margin-top: -150px;
  }








  .box-2{
    background-color: #222222;
    
  }
  .fnt-sz{
    font-size: 20px;
  }
  .box-4{
  padding: 40px  190px;
  }
  .last{
    width: 1060px;
    margin-left: 190px;
    text-align: center;
    
  }



  /* responciv media quari */
  @media screen and (max-width: 576px){

    nav{
      flex-direction: column;
      
    }
    
    .banner{
      flex-direction: column;
      margin: 10px;
    }
    .br{
    
      position: relative;
      left: -250px;
      top: 600px;
      text-align: right;
    }
    .br-1{
    
      position: relative;
      left: 200px;
      top: 200px;
      text-align: right;
    }
    .skills{
      margin-left: 10px;
      margin-right: 10px;
    }
    .skills-container{
      flex-direction: column;
    }
    .banner-2{
    
      flex-direction: column;
      
      padding: 30px;
      
    }
    /*  */
    .wth{
      margin-left: 10px;
      margin-right: 10px;
    }
    .one{
      width: 100px;
      height: 200px;
      object-fit: cover;
      object-position: 100% center;
      
      
  
    }
    .two{
      width: 208px;
      height: 200px;
      object-fit: cover;
      object-position: 100% center;
      
      
  
    }
    .three{
      width: 290px;
      height: 200px;
      object-fit: cover;
      object-position: 100% center;
    }
    .row{
  
      height: 200px;
      display: flex;
    }
       
  }