

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   font-style: normal;
  }
  /* *{
    margin: 0;
    padding: 0;
  } */
  .font{
    font-family: 'Miama';
    font-size:70px;
                                                  
  }
  
  body{
    background-color: black;
  }
  .img{
    background-image: linear-gradient(#777777 ,#111111 );
  }
  
  /* text prymre */
   .text-color{
    color: #E6533C;
   }
   /* color 1 */
    .color-1{
     color: #FFFFFF;

    }
    /* color 2 */
    .color-2{
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
    }
  
    .butten{
       background-color: #E6533C;
       color: #FFFFFF;
       padding: 8px 16px;
       border-radius: 45px;
       border: none;
      
    }
    .top{
        position: relative;
        top: -50px;
    }
    .btn{
  
      background-color:rgba(0, 0, 0, 0.041);
      color: #FFFFFF;
      padding: 8px 16px;
      border-radius: 45px;
      border: 0.5px solid  rgba(255, 255, 255, 0.5);
     
    }
  
  /* nav styles */
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 200px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 40px;
  
  }
  nav li{
    list-style: none;
    margin-right: 50px;
    
    
  }
  
  nav li a{
    text-decoration: none;
    font-size: 20px;
  }
  .flx{
    display: flex;
    align-items: center;
  }
  .banner{
    color:#FFFFFF ;
    display: flex;
    justify-content: space-between;
    margin: 30px 200px;
  }
  .h3{
    font-size: 70px;
  }
  .br-2{
    background-color: rgba(255, 255, 255, 0.13);
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 0 30px;
    position: relative;
    left: 100px;
    top: -100px;
    text-align: left;
    
  
  }
  .br-3{
    background-color: rgba(255, 255, 255, 0.13);
    color: #FFFFFF;
    border-radius: 12px;
    border: none ;
    padding: 0 20px;
    position: relative;
    left: -110px;
    top: -350px;
    text-align: left;
  }
  .fs{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5) ;
  }





  /* part-2 */
  

  .text-center{
    text-align: center;
  }
  .clr{
    color: #FFFFFF;
  }
  .section-titel{
    font-size: 48px;
    font-weight: 400;
  }
  .section-description{
    position: relative;
    top: -15px;
}
    
  /* skills section */
  .skills-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex; */
    text-align: center;
    gap: 80px;
    margin-top: 40px;
    width: 1060px;
    margin: 20px auto;
  }
  
  .rdns{
    border:1px solid #777777;
    border-radius: 50%;
  }
  .about{
    font-size: 48px;
    font-weight: 400px;
  }
  .banner-2{
    background-color: #222222;
    display: flex;
    border-radius: 18px;
    justify-content: space-between;
    padding: 30px;
    margin: 20px auto;
    width: 1060px;
  }
  .margin{
    margin-left: 40px;
  }
  .zoom{
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 18px;
    margin-top: 20px;
    margin-right: 40px; 
  }
  .wth{
    margin-left: 190px;
    margin-right: 190px;
  }
  .top-1{
    margin-top: 30px;
  }
  
  .a{
    margin-top: -270px;
    margin-left: 30px;
    font-size: 14px;
  }
  .b{
    margin-top: -350px;
    margin-left: 170px;
    font-size: 14px;
  }
  .d{
    margin-top: -70px;
    margin-right: 100px;
    font-size: 14px;
  }
  .e{
    margin-top: -270px;
    margin-right: -100px;
    font-size: 14px;
  }
  .c{
    margin-top: -150px;
    margin-left: -130px;
    font-size: 14px;
  }
  .f{
    margin-top: -70px;
    margin-left: -20px;
    font-size: 14px;
  }
  /* part 3 */
  .mgn{
    margin-left: 350px;
  }
  .box-3{
    background-color: #222222;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
  }
  .box{
    display: grid;
    grid-template-columns: 150px 150px;
   
  }
  .item{
    border: 0.5px solid #ffffff17;
    padding: 10px;
    

  }
  .mgn-1{
    margin-left: 190px;
  }
  .mgn-2{
    margin-right: 190px;
  }
  .gap-1{
    margin-top: 10px;
  }

  .form{
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff11;
    

  }
  .form-2{
    width: 302px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff11;
    
  }
  .form-1{
    width: 612px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #ffffff11;

  } 
  /* part 4 */





     .mgn-3{
      /* margin-left: 190px;
      margin-right: 190px; */
      width: 1060px;
      margin: 20px auto;
      
     }
     .laft{
      text-align: center;
     }
     .clr-2{
      background-color:#ffffff10;
      border-radius: 18px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 1060px;
     }

  .all{
    width: 325px;
    height: 270px;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 18px;
    gap: 30px;
    
    padding: 10px;
  }
  .img-1{
    margin-left: 50px;
   margin-top: -800px;
   
  }
  .img-2{
    margin-left: 100px;
    margin-top: -800px;
  }
  .img-3{ 
    margin-left: 100px;
    margin-top: -800px;
  }
  .img-4{ 
    margin-right: 0px;
    margin-top: -150px;
  }
  .img-5{
    margin-right:0px;
    margin-top: -150px;
  }
  .img-6{
    margin-right: 0px;
    margin-top: -150px;
  }








  .box-2{
    background-color: #222222;
    
  }
  .fnt-sz{
    font-size: 20px;
  }
  .box-4{
  padding: 40px  190px;
  }
  .last{
    width: 1060px;
    margin-left: 190px;
    text-align: center;
    
  }
  .box-5{
    background-color: #222222;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
  }
  .box-6{
    display: grid;
    grid-template-columns: 150px 150px;
  }













  /* responciv media quari */
  @media screen and (max-width: 576px){
*{
  margin-right: 0%;
}
.img{
  /* width: 330px; */
  width: 100%;
}
.mg{
  width: 100%;
}
    nav{
      flex-direction: column;
      
    }
  .hite{
    display: none;
  }
    
    .banner{
      flex-direction: column;
      margin: 10px;
    }
    .br-2{
    
      position: relative;
      left: 0px;
      top: 700px;
      text-align: right;
    }
    .br-3{
    
      position: relative;
      left: 50%;
      top: -600px;
      text-align: right;
    }
    .skills{
     /* width: 330px; */
     width: 100%;
     margin-left:0 ;
    }
    .skills-container{
      /* flex-direction: column; */
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      
      gap: 60px;
      
      width: 400px;
      /* margin: 10px auto; */
    
    }
    
    .banner-2{
    
      flex-direction: column;
      
      padding:0px;
      /* width:330px; */
      width: 100%;
      /* margin: 0px auto; */
      
    }
    .zoom{
      padding: 40px;
      
    }
 

    .wth{
      margin-left: 10px;
      margin-right: 10px;
    }
    
   
    /* 3 */
    .mgn{
      margin-left: 10px;
    }
    
    .mgn-1{
      margin-left: 10px;
    }
    .mgn-2{
      margin-left: 10px;
    }
    .form-1{
      width: 300px;
    }
    .mgn-3{
    
      width: 100%;
      margin: 10px auto;
    }
    .laft{
      /* text-align: left; */
      text-align: center;
    }
    .clr-2{
      margin-left: 0px;
      background-color:#ffffff10;
      border-radius: 18px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width:100%;
      
     }

  .all{
    width: 90%;
    height:90%;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 18px;
    gap: 0px;
    
    margin-left: 1%;
  }
  /* .img-1{
    margin-left: 50px;
   margin-top: -3000px; */
   
  
  .img-2{
    margin-left: 100px;
    margin-top: -800px;
  }
  .img-3{ 
    margin-left: -1000px;
    margin-top: -800px;
  }
  .img-4{ 
    margin-left: 50px;
    margin-top: -1900px;
  }
  .img-5{
    margin-right:0px;
    margin-top: -150px;
  }
  .img-6{
    margin-right: 0px;
    margin-top: -150px;
  }

.box-5{
  flex-direction: column;
}
.box-4{
  padding: 0px  10px;
}
.box-6{
  
  grid-template-rows: 40px 30px 30px 30px 30px;
}
.last{
  width: 50%;
  margin-left: 20%;
  text-align: center;

}
.box-3{
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  /* text-align: center; */
  

}
.box-2{
  width: 100%;
  
  
  
}
.about{
  width: 330px;
}
.fnt{
  width: 300px;
}
   
  
     
  }